.field-error,
.section-error
{
  color: #d63638;
  float: left;
  clear: both;
  margin-bottom: 0.5em;
}
.repeatable-section-error,
.repeatable-field-error {
  float: right;
  clear: both;
  color: #d63638;
  margin-left: 1em;
}