/* Import Field Type */
.admin-page-framework-field-import input {
    margin-right: 0.5em;
}
.admin-page-framework-field-import,
.admin-page-framework-field-import .admin-page-framework-input-label-container {
    width: 100%;
}
.admin-page-framework-field-import label,
.form-table td fieldset.admin-page-framework-fieldset .admin-page-framework-field-import label { /* for Wordpress 3.8 or above */
    display: inline-block; /* to display the submit button in the same line to the file input tag */
    width: auto;
    vertical-align: middle;
}