/* Textarea Field Type */
.admin-page-framework-field-textarea .admin-page-framework-input-label-string {
    vertical-align: top;
    margin-top: 2px;
}
/* Rich Text Editor */
.admin-page-framework-field-textarea .wp-core-ui.wp-editor-wrap {
    margin-bottom: 0.5em;
}
.admin-page-framework-field-textarea.admin-page-framework-field .admin-page-framework-input-label-container {
    vertical-align: top;
    float: left;
    clear: both;
}
/* For meta-boxes */
.postbox .admin-page-framework-field-textarea .admin-page-framework-input-label-container {
    width: 100%;
}
/* Prevents the input box sticks out in a meta box, especially in the side meta box. */
.admin-page-framework-field-textarea textarea {
    max-width: 100%;
}