/* Color Picker Field Type */
.repeatable .colorpicker {
    display: inline;
}
.admin-page-framework-field-color .wp-picker-container {
    vertical-align: middle;
}
.admin-page-framework-field-color .ui-widget-content {
    border: none;
    background: none;
    color: transparent;
}
.admin-page-framework-field-color .ui-slider-vertical {
    width: inherit;
    height: auto;
    margin-top: -11px;
}
.admin-page-framework-field-color .admin-page-framework-repeatable-field-buttons {
    margin-top: 0;
}
.admin-page-framework-field-color .wp-color-result {
    /* Overriding the default css rule, margin: 0 6px 6px 0px; to vertically align middle in the sortable box */
    margin: 3px;
}
.sortable .admin-page-framework-field-color .wp-picker-container .wp-color-result.button,
.sortable .admin-page-framework-field-color .admin-page-framework-input-label-container
{
    margin-top: 0;
    margin-bottom: 0;
}