/* Media Field Type */
/* Media Uploader Button */
.admin-page-framework-field-media input {
    margin-right: 0.5em;
    vertical-align: middle;
}
@media screen and (max-width: 782px) {
    .admin-page-framework-field-media input {
        margin: 0.5em 0.5em 0.5em 0;
    }
}
.select_media.button.button-small,
.remove_media.button.button-small
{
    vertical-align: middle;
}
.remove_media.button.button-small {
    margin-left: 0.2em;
}