.admin-page-framework-field-select2 .select2-container {
    min-width: 200px;
    width: auto;
}

.admin-page-framework-field-select2 {
    max-width: 96%;
}

/* Make a room for repeatable buttons */
.repeatable .admin-page-framework-field-select2 > .admin-page-framework-select-label > label > .admin-page-framework-input-container {
    max-width: 84%;
}

/* Custom Icons */
.admin-page-framework-field-select2 .custom-icon-definitions {
    display: none;
}
.select2-custom-icon-container {
    vertical-align: top;
    height: 26px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;

}
.select2-custom-icon-container * {
    box-sizing: border-box;
}
.select2-custom-icon-container > * {
    vertical-align: middle;
    height: 100%;
    margin-right: 8px;
    line-height: 1;

    display: flex;
    align-items: center;

}

.select2-custom-icon * {
    max-height: 24px;
}

