/* Page Meta Boxes */
.admin-page-framework-content {

    margin-bottom: 1.48em;
    width: 100%; /* This allows float:right elements to go to the very right end of the page. */

    /* display: inline-table; */ /* @deprecated 3.5.0. Fixes the bottom margin getting placed at the top. */
    /* [3.5.0+] The above display: inline-table makes it hard to display code blocks with overflow as container cannot have solid width. */
    display: block;

}
.admin-page-framework-content > #post-body-content{
    margin-bottom: 0;
}