/* Collapsible Sections */
.admin-page-framework-collapsible-section-title.admin-page-framework-collapsible-type-box .repeatable-section-button {
    width: 32px;
    height: 32px;
    margin: 0 0.1em;
}
.admin-page-framework-collapsible-section-title.admin-page-framework-collapsible-type-box .repeatable-section-button .dashicons {
    height: 100%;
}