/* Main Section */
.admin-page-framework-repeatable-section-buttons {
    display: flex;
}
.repeatable-section-button.button {
    margin: 0 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.repeatable-section-button.button.button-large {
    padding: 0;
    min-width: unset;
    min-height: unset;
    width: 32px;
    height: 32px;
}
.repeatable-section-button .dashicons {
    font-size: 1.32em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
}