// Fix the repeatatable button alignment
.repeatable-section-button.button.button-large {
    padding: 0;
    margin: 0;
    min-width: 2.48em;
}
.repeatable-section-button .dashicons {
    font-size: 1.32em;
    width: 100%;
    vertical-align: middle;
}
@media screen and (max-width: 782px) {
    .repeatable-section-button.button.button-large {
        min-width: 40px;
    }
    .repeatable-section-button .dashicons {
        height: 22px;
    }
}