.font_preview {
	clear: right;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 2em 2em 2em 2.4em;
	background-color: #FFF;
	border-color: #ddd;
	border-width: 1px;
	border-style: solid;
	
}
.form-table td p.font-preview-text,
p.font-preview-text 
{
	line-height: 1.4em;
	font-size: 150%;
	/* max-width: 600px */;
	font-family: AdminPageFrameworkFontPreview;
	margin: 0;	
}


/* Font Uploader Button */
.admin-page-framework-field-font input {
	margin-right: 0.5em;
}
.select_font.button.button-small {
	vertical-align: baseline;
}	

/* Font Size Changer */
.fontSliderHolder {
 
	margin-left: 1em;
	margin-top: 1em;
	padding:6px 10px 6px 18px;
	float: right;
	clear: left;
	width: 200px;
	border:1px solid #CCC;
	background:#EEE;
	
}
.holder {
	padding: 10px !important;
	padding-right: 20px !important;
	width: 120px;
	float:left;
}
.sliderT,
.sliderB
{
	line-height: 20px;
	float:left;
	width:20px;
	top:8px;
	position:relative;	
}
.sliderT {
	font-size:100%;
}
.sliderB {
	font-size:200%;
}
.clearBlock {
	clear:both;
}		