# Script Settings 
# The plugin slug
PLUGINSLUG="admin-page-framework"

# SVN Credentials
SVNUSER="miunosoft"

# Leave this empty to type it in the console.
SVNPASS=

SVNPATH="/tmp/$PLUGINSLUG"
SVNURL="http://plugins.svn.wordpress.org/$PLUGINSLUG"

PLUGINDIR="../../.."
MAINFILE="admin-page-framework-loader.php"